<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <div id="wrapper">
      <%= render 'layouts/header' %>
      <div id ="name" class ="round">
        <h1><%= link_to "kevincvlam", root_path %></h1></div>
      <div id="contact">
         <a href="mailto:kevinlammusic@gmail.com">email</a>  <%= link_to "c.v.", cv_path %><br>
       </div>
        <div id="titletail" class="round">
          engineering student<br>musician<br>artist<br>
        </div>
        <div id ="content" class="round">
          <%= yield %>
        </div>
      </div>
    </div>

    
  </body>
</html>

